<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static from staticfiles %}
  
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui.css' %}"> 
    <script src="{% static 'js/vendor/jquery.js' %}"></script> 
    <script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-datepicker-es.js' %}"></script>

    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}     
    </form>    


<script>
    $('#id_fechaatencion').datepicker({ autoSize: true });
</script>

</body>
</html>
