{% extends "base_principal.html" %}
{% block title %}Inicio{% endblock title %}
{% block content %} 

    {% include "principal/navbar.html" %} 

<div class="container">
        <div class="page-header">
             <h4> 
                <br>

           <a href="/" class="btn btn-success">
                            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>             
            <a class="btn btn-primary pull-right" href="/addalumno">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo Alumno
                </a>
          </h4>
           <br>
            <form action= "." method="GET">
                 <label for="q">Buscar</label>
                 <input id="aut" name = "q" autofocus type="search" placeholder="nombre alumno" value="{% if q %}{{ q }}{% else %}{% endif %}" >
                 <input type="submit" value="Buscar">
             </form>
         
        </div><!-- page-header -->

          <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Modalidad</th>
                        <th>Atencion</th>
                        <th>Alumno</th>
                        <th>Edad Meses</th>
                        <th>Sexo</th>
                        <th>Discapacidad</th>
                        <th>Escolaridad Grado</th>
                        <th>Escuela</th>
                        <th>FechaAtencion</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        {%for a in object_list%}
                        <tr>
                            <td>
                                 <small>{{a.folio}}</small>
                            </td>  
                             <td>
                                 <small>{{a.modalidad}}</small>
                            </td> 
                            <td>
                                <small>{{a.atencion}}</small>
                            </td>                 
                            <td>
                                <small>{{a.nombre}}</small>
                            </td>
                            <td>
                               <small>{{a.edad}} {{a.meses}}</small>
                            </td>
                            <td>
                                <small>{{a.sexo}}</small>
                            </td>
                            <td>
                                <small>{{a.discapacidad}}</small>
                            </td>
                            <td>
                                <small>{{a.escolaridad}} {{a.grado}}</small>
                            </td>                            
                            <td>
                                <small>{{a.escuela}}</small>
                            </td>
                            <td>
                                <small>{{a.fechaatencion|date:"M d, Y"}}</small>
                            </td>
                            <td>
                                <td class="text-right">                                
                                <a href="{% url 'principal_app:alumno_update' a.id %}"  class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>                        
                        </tr>
                        {%endfor%} 
                        </tbody>
                </table>
            </div><!-- col-md-12 -->
        </div><!-- /row -->
    </div><!-- /container -->      
{% endblock content %}