<!doctype html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="../morris.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
  <script src="lib/example.js"></script>
  <link rel="stylesheet" href="lib/example.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
  <link rel="stylesheet" href="../morris.css">
</head>
<body>
<h1>Donut Chart</h1>


<div id="graph"></div>
<pre id="code" class="prettyprint linenums">
Morris.Donut({
  element: 'graph',
  data: [
    {value: 70, label: 'Primaria'},
    {value: 15, label: 'Kinder'},
    {value: 10, label: 'Primaria'},
    {value: 5, label: 'Otros'}
  ],

  [
  {'total': 1, 'escolaridad': u'No Tiene Edad escolar'},
   {'total': 1, 'escolaridad': u'Secundaria'}, 
   {'total': 2, 'escolaridad': u'Preescolar'}, 
   {'total': 8, 'escolaridad': u'Primaria'}
 ],
  formatter: function (x) { return x + "%"}
}).on('click', function(i, row){
  console.log(i, row);
}); 

</pre>  
  

data: [<br>
{% for item in esco %}
     value: {{item.total}}, label: '{{ item.escolaridad }}' <br>
{% endfor %}
  ],



</body>
