{% extends "base_principal.html" %}
    
{% block content %}
 <header class="app-header">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand"  href="{% url 'principal_app:index' %}">Parepe Laguna</a>
                </div>

                         
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav pull-right">
                                    {% if user.is_authenticated %}                               
                                        <li><a href="{% url 'principal_app:index' %}">Hola 
                                            {{user.username|capfirst}}</a></li>
                                            <li><a href="{% url 'users_app:logout' %}">Cerrar</a></li>
                                    {% else %}                           
                                        <li><a href="{%  url 'users_app:login' %}">Entrar</a></li>
                                        <li><a href="{% url 'users_app:logout' %}">Cerrar</a></li>
                                    {% endif %}                       
                                </ul>
                            </div><!--/.nav-collapse -->

            </div><!--/.class="container"> -->       
        </div> <!--class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
</div>
 
<div class="jumbotron">
  <div class="container text-center">
    <h1>Parepe Laguna</h1>
  </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <h3 class="panel-title"><strong>Tablero de actividades</strong></h3>
            </div>
        </div>
    </div> <!-- /.row -->
    
    <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                             <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <span class="glyphicon glyphicon-header app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{solohoy_g}}</div>
                                        <div>Atenciones Gomez Hoy.!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/listhoy">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros y/o Captura Nueva</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="glyphicon glyphicon-user app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{exthoy_g}}</div>
                                        <div>Externa Gomez</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">                                     
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="glyphicon glyphicon-user app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{pedhoy_g}}</div>
                                        <div> Pediatria Gomez</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">                                   
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-info">
                             <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <span class="glyphicon glyphicon-user app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{domhoy_g}}</div>
                                        <div>Domicialiara</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">                                   
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                   
                   
    </div> <!-- /.row -->
      <div class="row">
         <div class="col-lg-3 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <span class="glyphicon glyphicon-header app">
                                           <i class="fa fa-fw fa-money"></i>
                                       </span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{solohoy_l}}</div>
                                        <div>Atencion Lerdo Hoy.!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/listhoyl">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros y/o Captura Nueva</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <span class="glyphicon glyphicon-user app">
                                           <i class="fa fa-fw fa-money"></i>
                                       </span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{exthoy_l}}</div>
                                        <div>Externa Lerdo</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="glyphicon glyphicon-user app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{pedhoy_l}}</div>
                                        <div>Pediatria Lerdo</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                                         <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="glyphicon glyphicon-user app"></span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{pisco_hoy}}</div>
                                        <div>Psicología</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/listPischoy">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
    </div> <!-- /.row -->
     
     
     


 
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">                   
                    <h3 class="panel-title"><i class="glyphicon glyphicon-stats"></i> Acumulados  Gomez Palacio</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="/lispreeg" class="list-group-item">
                            <span class="badge">{{pre_g}}</span>
                             Alumnos de preescolar
                        </a>
                        <a href="/lisPrimg" class="list-group-item">
                            <span class="badge">{{prim_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de primaria
                        </a>
                        <a href="/listsecg" class="list-group-item">
                            <span class="badge">{{sec_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de secundaria
                        </a>                         
                        <a href="/listnoesyedadg" class="list-group-item">
                            <span class="badge">{{ne_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> No estudia y tiene edad escolar
                        </a>
                        <a href="/listalumbachg" class="list-group-item">
                            <span class="badge">{{bach_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> Bachillerato
                        </a>
                        <a href="/listsinedadg" class="list-group-item">
                            <span class="badge">{{sinedadesc_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> Sin edad escolar
                        </a>                        
                        <a href="/lisdisg" class="list-group-item">
                            <span class="badge">{{disc_g}}</span>
                            <i class="fa fa-fw fa-comment"></i> Discapacidad
                        </a>
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-signal"></i> Acumulados de Lerdo</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="lispreel" class="list-group-item">
                            <span class="badge">{{pre_l}}</span>
                             Alumnos de preescolar
                        </a>
                        <a href="lisPriml" class="list-group-item">
                            <span class="badge">{{prim_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de primaria
                        </a>
                        <a href="listsecl" class="list-group-item">
                            <span class="badge">{{sec_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de secundaria
                        </a>                         
                        <a href="listnoesyedadl" class="list-group-item">
                            <span class="badge">{{ne_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> No estudia y tiene edad escolar
                        </a>
                        <a href="/listalumbachl" class="list-group-item">
                            <span class="badge">{{bach_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> Bachillerato
                        </a>
                        <a href="listsinedadl" class="list-group-item">
                            <span class="badge">{{sinedadesc_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> Sin edad escolar
                        </a>                        
                        <a href="/lisdisl" class="list-group-item">
                            <span class="badge">{{disc_l}}</span>
                            <i class="fa fa-fw fa-comment"></i> Discapacidad
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-signal"></i> Atencion Psicologica</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="lispreep" class="list-group-item">
                            <span class="badge">{{pre_p}}</span>
                            <i class="fa fa-fw fa-calendar"></i> Alumnos de preescolar
                        </a>
                        <a href="lisPrimp" class="list-group-item">
                            <span class="badge">{{prim_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de primaria
                        </a>
                        <a href="listsecp" class="list-group-item">
                            <span class="badge">{{sec_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> Alumnos de secundaria
                        </a>                         
                        <a href="listnoesyedadp" class="list-group-item">
                            <span class="badge">{{ne_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> No estudia y tiene edad escolar
                        </a>
                        <a href="listalumbachp" class="list-group-item">
                            <span class="badge">{{bach_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> Bachillerato
                        </a>  
                        <a href="/listsinedadp" class="list-group-item">
                            <span class="badge">{{sinedadesc_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> Sin edad escolar
                        </a>                                   
                        <a href="lisdisp" class="list-group-item">
                            <span class="badge">{{disc_p}}</span>
                            <i class="fa fa-fw fa-comment"></i> Discapacidad
                        </a>
                    </div>                     
                </div>
            </div>
        </div>
    </div> <!-- /.row -->

        <div class="container eventos">  
            <div class="row contenedor-eventos">
              {% for a  in alum3 %}
                <div class="col-sm-1 col-md-3">
                    <div class="thumbnail">
                        <img src="#" alt="250x180">
                        <div class="caption">
                            <h4><a href="">Ultimos 3 alumos captrados</a></h4>
                            <small class="date">{{a.nombre}}</small>
                            <div class="place">
                                <small class="place"> {{a.escuela}}</small> / 
                            </div>
                            <span class="views"> {{a.procedencia}}</span>
                        </div>
                    </div>
                </div>
             {% endfor %}                
            </div>
        </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Alumnos por Maestra 
                </div>
                
                <div class="panel-body">
                      <div class="col-lg-6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Maestra</th>
                                    <th class="text-center">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for x in productividad %}
                                    <tr>
                                        <td>                                             
                                           {{x.user__username}} 
                                        </td>                                       
                                        <td>{{ x.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="donutchart" class="col-lg-6" style="height: 250px;"></div> 
                </div>
            </div>
        </div> 

   
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Total de alumnos por Nivel
                </div>
                
                <div class="panel-body">
                      <div class="col-lg-6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Nivel</th>
                                    <th class="text-center">Cantidad.</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for item in itens  %}
                                    <tr>
                                        <td>{{ item.escolaridad }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="barchart" class="col-lg-6" style="height: 250px;"></div>
                </div>
            </div>
        </div> 
    </div> <!-- /.row -->
</div> <!-- /.container -->

	
{% endblock content %}

{% block js %}

    <script type="text/javascript">
        Morris.Bar({
            element: 'barchart',
            data: [
                {% for item in itens %}
                    { escolaridad: '{{ item.escolaridad }}', total:  {{ item.total }} },
                {% endfor %}
            ],
            xkey: 'escolaridad',
            ykeys: ['total'],
            labels: ['total'],
            hideHover: 'auto',
            resize: true,
        });
    </script>
 
    <script type="text/javascript">
        Morris.Donut({
            element: 'donutchart',
            data: [
                {% for x in productividad %}
                    { label: '{{ x.user__username }}', value:  {{ x.total }}},
                {% endfor %}
            ],
            //colors: [
            //  '#FF00FF', // magenta
            //  '#0000CD', // azul
            //],
            formatter: function (x) { return x + "%"}
        });
    </script>
{% endblock js %}